.bg-carol {
    background-color: #f8d7da;
   
    margin-left:20px;

}

.btn-info {
    background-color: #033942 ;
   
    margin-left:20px;
  
  
}


#btn {
    margin-top: 10px;
color:red;

}

#btn2 { 
    margin-top: 10px;
color:green;
}
body {
    background-color:cornflowerblue;
}

.container-xxl {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: red;
}
.container-lg {
    background:url("https://img.freepik.com/vetores-gratis/papel-de-parede-com-conceito-de-formas-geometricas_23-2148310375.jpg?w=826&t=st=1674896935~exp=1674897535~hmac=7a20282a96ca62f41d52f16a4066e4d32cdebf759289e5eb133d5abe3fedfc15") no-repeat center center;
margin-top:20px;
margin-bottom:20px;


}
#card-imgi-top{
    height: 20px;
}
